#navBar, #header, #main, .mainDivHeader, .mainDivContainer, .mainDivContent, .footerText {
	border: 1px solid black;
}


.mainDivContent {
	
	background-color: azure;
}


.footerText {
	height: 40px;
}
